<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/Escape/blob/main/New_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
import pandas as pd
import numpy as np

In [76]:
df = pd.read_csv("/content/penguins.csv")

In [77]:
df.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [78]:
df.shape   # row, column

(344, 17)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   studyName            344 non-null    object
 1   Sample Number        344 non-null    int64
 2   Species              344 non-null    object
 3   Region               344 non-null    object
 4   Island               344 non-null    object
 5   Stage                344 non-null    object
 6   Individual ID        344 non-null    object
 7   Clutch Completion    344 non-null    object
 8   Date Egg             344 non-null    object
 9   Culmen Length (mm)   342 non-null    float64
 10  Culmen Depth (mm)    342 non-null    float64
 11  Flipper Length (mm)  342 non-null    float64
 12  Body Mass (g)        342 non-null    float64
 13  Sex                  334 non-null    object
 14  Delta 15 N (o/oo)    330 non-null    float64
 15  Delta 13 C (o/oo)    331 non-null    float64
 16  Comments             26 non-null     object
dtypes: float64(6), int64(1), object(10)
memory usage: 45.8+ KB

In [80]:
df['Clutch Completion'].unique()

array(['Yes', 'No'], dtype=object)

Data spliting

In [81]:
df.columns

Index(['studyName', 'Sample Number', 'Species', 'Region', 'Island', 'Stage',
       'Individual ID', 'Clutch Completion', 'Date Egg', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)', 'Sex',
       'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)', 'Comments'],
      dtype='object')

In [82]:
df = df.loc[:,['Species','Region','Island','Stage','Clutch Completion','Date Egg', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)', 'Sex',
       'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)']]

In [83]:
df.head()

,Species,Region,Island,Stage,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN
1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454
2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302
3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              344 non-null    object
 1   Region               344 non-null    object
 2   Island               344 non-null    object
 3   Stage                344 non-null    object
 4   Clutch Completion    344 non-null    object
 5   Date Egg             344 non-null    object
 6   Culmen Length (mm)   342 non-null    float64
 7   Culmen Depth (mm)    342 non-null    float64
 8   Flipper Length (mm)  342 non-null    float64
 9   Body Mass (g)        342 non-null    float64
 10  Sex                  334 non-null    object
 11  Delta 15 N (o/oo)    330 non-null    float64
 12  Delta 13 C (o/oo)    331 non-null    float64
dtypes: float64(6), object(7)
memory usage: 35.1+ KB

In [85]:
pd.isnull(df)

,Species,Region,Island,Stage,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,False,False,False,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,True,True,True,True,True,True,True
340,False,False,False,False,False,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False,False,False,False,False,False

In [86]:
df.dropna(inplace=True)
df=df.reset_index(drop=True)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              325 non-null    object
 1   Region               325 non-null    object
 2   Island               325 non-null    object
 3   Stage                325 non-null    object
 4   Clutch Completion    325 non-null    object
 5   Date Egg             325 non-null    object
 6   Culmen Length (mm)   325 non-null    float64
 7   Culmen Depth (mm)    325 non-null    float64
 8   Flipper Length (mm)  325 non-null    float64
 9   Body Mass (g)        325 non-null    float64
 10  Sex                  325 non-null    object
 11  Delta 15 N (o/oo)    325 non-null    float64
 12  Delta 13 C (o/oo)    325 non-null    float64
dtypes: float64(6), object(7)
memory usage: 33.1+ KB

In [88]:
df['Species'].unique()

array(['Adelie Penguin (Pygoscelis adeliae)',
       'Chinstrap penguin (Pygoscelis antarctica)',
       'Gentoo penguin (Pygoscelis papua)'], dtype=object)

In [89]:
from sklearn.preprocessing import LabelEncoder

In [90]:
lst=list(df.columns)
print(lst)

['Species', 'Region', 'Island', 'Stage', 'Clutch Completion', 'Date Egg', 'Culmen Length (mm)', 'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)', 'Sex', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)']

In [97]:
type(df['Stage'][0])

str

In [98]:
for i in range(len(lst)):
    if type(df[lst[i]][0]) == 'str':
        df[lst[i]] = LabelEncoder().fit_transform(df[lst[i]])

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              325 non-null    object
 1   Region               325 non-null    object
 2   Island               325 non-null    object
 3   Stage                325 non-null    object
 4   Clutch Completion    325 non-null    object
 5   Date Egg             325 non-null    object
 6   Culmen Length (mm)   325 non-null    float64
 7   Culmen Depth (mm)    325 non-null    float64
 8   Flipper Length (mm)  325 non-null    float64
 9   Body Mass (g)        325 non-null    float64
 10  Sex                  325 non-null    object
 11  Delta 15 N (o/oo)    325 non-null    float64
 12  Delta 13 C (o/oo)    325 non-null    float64
dtypes: float64(6), object(7)
memory usage: 33.1+ KB

In [102]:
df['Island'] = LabelEncoder().fit_transform(df['Island'])
df['Species'] = LabelEncoder().fit_transform(df['Species'])
df['Region'] = LabelEncoder().fit_transform(df['Region'])
df['Stage'] = LabelEncoder().fit_transform(df['Stage'])
df['Clutch Completion'] = LabelEncoder().fit_transform(df['Clutch Completion'])
df['Date Egg' ] = LabelEncoder().fit_transform(df['Date Egg'])
df['Sex'] = LabelEncoder().fit_transform(df['Sex'])

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              325 non-null    int64
 1   Region               325 non-null    int64
 2   Island               325 non-null    int64
 3   Stage                325 non-null    int64
 4   Clutch Completion    325 non-null    int64
 5   Date Egg             325 non-null    int64
 6   Culmen Length (mm)   325 non-null    float64
 7   Culmen Depth (mm)    325 non-null    float64
 8   Flipper Length (mm)  325 non-null    float64
 9   Body Mass (g)        325 non-null    float64
 10  Sex                  325 non-null    int64
 11  Delta 15 N (o/oo)    325 non-null    float64
 12  Delta 13 C (o/oo)    325 non-null    float64
dtypes: float64(6), int64(7)
memory usage: 33.1 KB